<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Linktree</title>
  <%- include('partials/favicon') %>
  <meta name="description" content="Linktree Clone">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/9d4449454b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/register.css">
</head>

<body>
  <div class="register-body">
    <div class="register-left">
      <h1 class="head">
        Linctree
      </h1>
      <span>OPTIMIZED · INTEGRATED · FUTURE READY</span>
      <p>
        A linktree generator. You can enter your's or your organisation's title and links and get your linktree.
      </p>
      <h3 class="blue-feature">
        With classic UI
      </h3>
      <h3 class="black-feature">
        Let the Linctree build your linktree.
      </h3>
    </div>
    <div class="register-container">
      <h2 class="register-head">Register</h2>
      <h5 class="register-head-def">Register now to get your own limktree withount writing a single line of code.
      </h5>
      <div class="msg-box">
       <%= typeof errmsg != 'undefined' ? errmsg : '' %> 
      </div>
      <form action="/register" method="POST">
        <div>
          <label for="name">User Name</label><br />
          <input type="name" name="title" placeholder="Enter username"
          required/>
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" class="form-control" name="username" placeholder="Enter Email id" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
        </div>
        <!-- <div>
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" name="password" placeholder="Confirm Password" required>
        </div> -->
        <div class="btn-cont">
          <button type="submit" class="btn btn-dark">Register</button>
        </div>
      </form>
      <p class="login-link">Have An Account? <a href="/login">Login</a></p>
    </div>
  </div>
</body>

</html>