<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hackaruto</title>
        <%- include('partials/favicon') %>
        <meta name="description" content="Linktree Clone">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/view.css">
    </head>
    <body>
<div class="links-body">
    <div class="logo">
        <img src="<%= imgUrl %>" alt="logo">
        <p class="title"><%= title %> </p>
        <h5><%= description %> </h5>
    </div>
<!-- https://d1fdloi71mui9q.cloudfront.net/MLCksxkuTryYeE37ZPkK_ll6YABwvxeo16F8h -->
    <div class="links">
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Instagram</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Twitter</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Linkedin</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Website</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Github</p>
            </div>
        </a>
        </div>
    </div>
    <button class="view-links"><a href="/create">Edit links</a></button>
</div>

<footer>
    Made with ❤️ by Hackaruto Team
</footer>
<a href="/register">Signup</a>
    </body>
</html>

