@import url('https://fonts.googleapis.com/css2?family=Poppins');
  *{
    margin: 0;
    padding:0;
  }
  .head{
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  span{
    background-color: #e9c6df;
    color:#b41780;
    font-size: 0.8rem;
    padding: 0.7rem 1.1rem 0.7rem 1.1rem;
    border-radius: 0.7rem;
    font-weight: 600;
  }
  p{
    margin-top: 2.2rem;
    font-size: 1rem;
    color: rgb(65, 65, 65);
  }
  .register-body{
    background-color: #ffe6f2;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Poppins;
  }
  .register-left{
    max-width: 25rem;
  }
  .register-container{
    width: 25rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    height:fit-content;
    box-shadow: 1px 1px 20px 1px rgb(229, 236, 240);
  }
  .blue-feature{
    color: rgb(160, 36, 112);
    margin-top: 1rem;
  }
  .black-feature{
    margin-top: 1rem;
  }
  .register-head{
    text-align: center;
    margin-top: 1.4rem;
    color: rgb(49, 49, 49);
  }
  .register-head-def{
    text-align: center;
    margin: 0 2rem;
    color: rgb(122, 122, 122);
    margin-bottom: 0.5rem;
  }
  label{
    margin-left: 2rem;
    font-size: 0.8rem;
  }
  input{
    margin-left: 2rem;
    height: 2.5rem;
    width:80%;
    margin-bottom: 0.5rem;
    border-radius: 0.8rem;
    background-color: rgb(245, 245, 245);
    border:none;
    padding-left: 1rem;
    border: 1px solid rgb(230, 230, 230);
  }
  .btn-cont{
    text-align: center;
  }
  button{
    height: 2.3rem;
    width:8rem;
    border-radius: 0.6rem;
    background-color: rgb(153, 153, 153);
    border: none;
    font-size: 0.9rem;
    color:white;
    margin-top: 1rem;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(255, 131, 193);
    color:rgb(61, 61, 61);
  }
  .login-link{
    text-align: center;
    margin-top:1rem;
    margin-bottom: 1.5rem;
  }
  .msg-box{
    min-height: 2rem;
  }
  @media screen and (max-width:1000px){
     .register-container , .register-left{
       margin: auto;
       width: 23rem;
     }
  }
  @media screen and (max-width:700px){
     .register-body{
       flex-direction: column;
       height: fit-content;
     }
     .register-container , .register-left{
       margin: auto;
       width: 80vw;
     }
     .register-container{
      margin-top: 4rem;
      border-radius: 2rem;
      background-color: rgb(255, 255, 255);
      max-height: 37rem;
      margin-bottom: 0rem;
     }
  }
  .signin-with-google{
    text-align: center;
    text-decoration: none;
    color: #17b4a1;
  }
  a{
    color:#17b4a1;
  }
  .google{
    margin-top: -1rem;
    color:rgb(0, 143, 209);
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .msg-box{
    text-align: center;
    color:red;
    font-size: 0.9rem;
    margin: auto;
    width: 80%;
  }