*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* create */
.create-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
form{
   display: flex;
   flex-direction: column; 
   max-width: 80%;
}
form input{
    
}
