@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/images/link-bg.jpg);
}
nav{
   position: fixed; 
   width: 100vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 1rem;
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter:blur(10px);
    box-shadow: rgb(10 11 13 / 10%) 0px 4px 8px;
}
nav img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
nav p{
 font-weight: 600;
 color:rgb(161, 62, 79);
}
nav button{
   border-radius: 0.5rem;
   background-color: white; 
   cursor: pointer;
   padding: 0.35rem 0.7rem;
   border: 1px solid gray;
}
nav button:hover{
    background-color: rgb(240, 240, 240);
}
.logo img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.logo h5{
    max-width: 27rem;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.links-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.link-cont{
    background-color: white;
    width: 50vw;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 1px 1px 5px 0px rgb(167, 167, 167);
}
.link-cont p{
    padding: 1.2rem 0;
    color:rgb(112, 18, 49);
}
.links a {
    text-decoration: none;
}
.link-body{
    margin: 0.6rem 0;
}
.link-cont:hover{
  box-shadow: 1px 1px 11px 1px rgb(167, 167, 167);  
  width: 50.5vw;
}

footer{
   text-align: center;
   margin-top: 1rem;
}

@media screen and (max-width:900px) {
   .link-cont{
    width: 80vw;
} 
.link-cont:hover{
  box-shadow: 1px 1px 11px 1px rgb(167, 167, 167);  
  width: 80.5vw;
}
.logo h5{
    max-width: 20rem;
}
}
.view-links{
    background-color: rgb(228, 118, 137);
    padding:0.6rem 2rem;
    margin: 1rem 0;
    border-radius: 0.8rem;
    color: white;
    border: none;
    position: fixed;
    top:85%;
    box-shadow: 2px 2px 10px 1px rgb(160, 160, 160);
}
.view-links a {
    text-decoration: none;
    color: white;
}
.view-links:hover{
    background-color: rgb(218, 91, 112);
}
.foot-up{
    text-align: center;
    margin-top: 2rem;
}
.foot-up a {
    text-decoration: none;
    color:purple;
}